html {
  background: #14364c;
}

body {  width: 88%;
  padding: 0px;
  padding-left: 5%;
  padding-right: 5%;
  font-family: sans-serif;
  text-align: center;
}

div {
  padding: 5px;
}

button {
  border-radius: 3px;
  padding: 3px 10px;
  color: #030000;
  background: #949f97;
}

li {
  /* idk */
}

p, h1, h2, audio {
  padding: 0px 30px 0px 30px;
}

/* id */
#Main {
  text-align: center;
  padding: 40px 0 10px 0;
  font: 50px sans-serif;
  color: #030000;
  font-weight: bold;
  background: #f9f5ed;
}

#Menu {
  padding: 5px 0;
  background: #1e4f64;
}

#Page {
  text-align: left;
  padding: 20px 30px 50px 30px;
  background: #f9f5ed;
}

/* Mainpage and Sidebar: mix id */
#mainPage{text-align: left; position: relative; background: #f9f5ed;}
.Article{background: #f9f5ed; /* border: 2px solid #030000; */}
.Sidebar{background: #f9f5ed; /* border: 2px solid #030000; */}
@media only screen and (min-width: 768px) { 
  #mainPage{height: 320px;}
  .Article{position: absolute; top: 0; left: 0; width: 67%; padding: 20px 30px 50px 30px; height: 250px;} 
  .Sidebar{position: absolute; top: 0; right: 0; width: 26%; padding: 20px 10px 50px 10px; height: 250px;} 
}

#End {
  text-align: center;
  color: whitesmoke;
  padding: 15px;
  font: 12px system-ui;
  background: #1e4f64;
}

/* class */
.news {
  padding: 10px;
  color: #f9f5ed;
  background: #030000;
}

.ytplayer {
pointer-events: none;
}
